[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = ">=19.1.1b"

[packages]
django = "==2.2.20"
django-rest-framework = "*"
pip = "*"
python-decouple = "*"
django-cors-headers = "==3.0.2"
django-heroku = "*"
gunicorn = "*"
whitenoise = "==4.0"
channels = "*"
channels-redis = "*"
twisted = ">=19.7.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
